@import '../body/main';

footer{
	padding-left: 20px;

	background: url("../img/footer/footer-bg.png") 0 0 no-repeat;
	line-height: 0.75;
	
	@include btn-custom(19px, 101px, 101px, 24px, 2px);
	.button-custom {
		margin-top: -28px;
	}
	
	.footer-block-question {
		padding-top: 35px;
		padding-bottom: 78px;
		padding-left: 5px;
		
		font-size: 18px;
		color: white;
		
		.footer-block-question-content {
		
			span{
				padding-right: 4px;
			}
					
			a, a:link {
				color: white;
				text-decoration: none;
				
				&:hover {
					border: 0;
					padding-bottom: 0px;
					border-bottom: 1px;
					border-style: solid;
					border-color: white;
				}
			}
		}
	}
	
	.footer-block-socials {
		.left{
			margin-right: 14px;
			
			span {
				padding-left: 12px;
			}
		}
		.right{
			margin-left: 14px;
			
			i {	
				padding-left: 14px;
				padding-top: 17px;
			}
		}
		
		.btn-social-icon-custom {
			padding-top: 15px;
			background: transparent;
			border-color: rgba(255,255,255,0.3);
			border-radius: 1px;
			text-align: center;
			width: 162px;
			height: 52px;
			
			.btn-text {
				font-size: 18px;
			}
		}
		
		.btn-social-icon-custom i{
			text-align: left;
			padding: 15px 19px;
			line-height: 1 !important;
		}
	}
	
	.footer-block-copyrights {
		padding-top: 43px;
		padding-bottom: 53px;
		font-size: 14px;
		letter-spacing: 0.4px;
		color: white;
		
		.fa-copyright {
			padding-right: 4px;
		}
	}
}

@media  (max-width: 1040px) {
	footer{
		
	}
 }
 
 @media  (max-width:540px) {
	footer{
		padding-left: 0;
		
		.button-custom {
			padding: 19px 50px 19px 50px;
			font-size: 18px;
		}
		
		.btn-social-icon-custom {
			width: 54px !important;
			
			span {
				display: none;
			}
		}
	}
 }