
$m_color_dark: rgb(51,51,51);
$m_color: rgb(253,131,0);
$m_color_light: rgb(237,237,237);


@mixin font-lato-bold-up($fnt-sz) {
	font-size: $fnt-sz;
	font-family: 'Lato-Bold';
	text-transform: uppercase;
	letter-spacing: 1.1px;
}

@mixin font-lato-bold($fnt-sz) {
	font-size: $fnt-sz;
	font-family: 'Lato-Bold';
	letter-spacing: 1.1px;
}

@mixin font-playfair-d($fnt-sz) {
	font-size: $fnt-sz;
	font-family: 'Playfair-Display-Regular';
	text-transform: uppercase;
}

@mixin font-lato-regular($fnt-sz) {
	font-size: $fnt-sz;
	font-family: 'Lato-Regular';
	font-weight: normal;
}

.text-bold-custom {
	font-family: 'ProximaNova-Bold' !important;
}

@mixin btn-custom($pTop, $pLeft, $pRight, $fontSize, $borderSize) {
.button-custom {
	background: rgb(253,131,0);
	border: $borderSize solid transparent;
	border-radius: 1px;
	vertical-align: middle;
	padding: $pTop $pRight $pTop $pLeft;
	
	color: white;
	font-size: $fontSize;
	text-transform: uppercase;
	line-height: 0.85;
					
	&:hover {
			border: $borderSize solid rgb(229,229,229);
		}
	}
}
