
$orange_color: rgb(253,131,0);

.text-bold-custom {
	font-family: 'ProximaNova-Bold' !important;
}

.auto-width {
	width: auto !important;
}

.fs-36px {
	font-size: 36px !important;
}

.fs-medium {
	font-size: medium !important;
}

.trnspnt-bg {
	background: transparent;
}

@mixin btn-custom($pTop, $pLeft, $pRight, $fontSize, $borderSize) {
.button-custom {
	background: $orange_color;
	border: $borderSize solid transparent;
	border-radius: 1px;
	vertical-align: middle;
	padding: $pTop $pRight $pTop $pLeft;
	
	color: white;
	font-size: $fontSize;
	text-transform: uppercase;
	line-height: 0.85;
					
	&:hover {
			border: $borderSize solid rgb(229,229,229);
		}
	}
}
